<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1>{{.Title}}</h1>
        </div>

        <div class="row justify-content-center">
            <form class="form-inline" action="/">
                <label class="sr-only" for="crs">CRS</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="crs" name="crs" placeholder="CRS" value="{{.CRS}}">
                <input type="date" class="form-control mb-2 mr-sm-2" id="date" name="date" placeholder="Date" value="{{.Date}}">
                <input type="time" class="form-control mb-2 mr-sm-2" id="time" name="time" placeholder="Time" value="{{.Time}}">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>

        <div class="row">
            {{.Summary}}
        </div>

        <div class="row">
            {{.Body}}
        </div>
    </div>
</body>
</html>